body {
	background-image: url("https://static.pexels.com/photos/273886/pexels-photo-273886.jpeg");
	background-size: cover;
	background-attachment: fixed;
}
/* Navbar */
/*Navigation Start*/
ul#list-nav {
   {
    width: 100%;
    float: left;
    margin: 100px 0 0 100px;
    padding: 0;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;  }      
}


ul#list-nav li {
display:inline;
}

ul#list-nav li:first-child a{
-webkit-border-top-left-radius: 15px;
-webkit-border-bottom-left-radius: 15px;
-moz-border-radius-topleft: 15px;
-moz-border-radius-bottomleft: 15px;
border-top-left-radius: 15px;
border-bottom-left-radius: 15px;      
}


ul#list-nav li:last-child a{
-webkit-border-top-right-radius: 15px;
-webkit-border-bottom-right-radius: 15px;
-moz-border-radius-topright: 15px;
-moz-border-radius-bottomright: 15px;
border-top-right-radius: 15px;
border-bottom-right-radius: 15px;      
}

ul#list-nav li a {
text-decoration:none;
padding:15px 0;
width:200px;
background-color:white;
color:black;
float:left;
text-align:center;

}

ul#list-nav li a:hover {
background-color:#4169E1;
color:white;
}
/* Navigation End */

#myInput {
    background-image: url("./images/helm.png"); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 50%; /* Full-width */
    font-size: 30px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin:50px 12px 100px 200px; /* Add some space below the input */
    float: left;
    position: relative;
    border-radius:15px;  
}

.logo{
    
    max-height: 10em;
    max-width: 10em;
    border-radius: 50%;
    border: 1px solid white;
    margin:25px 100px 0 0;
    float: right;
}

/* Gallery */

.image{
    height:auto;
    width:auto;
    height: 400px;
    width: 500px;
    border-radius: 25%;
    
}


.logo{
    
    max-height: 200px;
    max-width: 200px;
    border-radius: 50%;
    border: 1px solid white;
    margin:5px 100px 0 0;
    float: right;
}


.container {
  position: relative;
  width: 100%;
  margin: 0 50px 75px 120px;
}


.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  border-radius: 25%;
}

.container:hover .overlay {
  width: 500px;
  background: rgba(0, 0, 0, 0.5);
}


.text {
  white-space: wrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.rightbox{
    float: left;
}
.leftbox{
    float: left;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #4ca973;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
</style>